body{
    font-family: 'Source Sans 3', sans-serif;
    font-size: 16px
}
.slider-wrapper{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto
}
.slider {
    overflow: hidden
}
.slider-items {
    display: flex
}
.thesis p {
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 1.652rem;
    color: #2469b0;
    line-height: 1.4;
    margin: 20px 0 10px;
    text-align: left
}
.secondary-nav{
    text-align: left;
    width: 100%
}
.slider-nav >div {
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center
}
.secondary-nav .left, .secondary-nav .right {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background-color: #2469b0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer
}
.secondary-nav .counter{
    display: flex;
    margin: 0 36px
}
.secondary-nav .right img {
    transform: rotate(180deg)
}